.elementor-606
  .elementor-element.elementor-element-ac02a28
  .elementor-spacer-inner {
  height: 48px;
}
.elementor-606
  .elementor-element.elementor-element-566d398
  .wgl-double_heading {
  flex-direction: column;
}
.elementor-606 .elementor-element.elementor-element-566d398 .dbl-title_1 {
  color: #232323;
  display: inline;
}
.elementor-606 .elementor-element.elementor-element-566d398 .dbl-bg_text {
  text-transform: uppercase;
  color: rgba(214, 214, 214, 0.5);
  -webkit-text-stroke-color: rgba(214, 214, 214, 0.5);
  display: inline;
}
.elementor-606 .elementor-element.elementor-element-566d398 .dbl-subtitle {
  color: #57b33e;
  margin: 12px 0px 0px 0px;
}
.elementor-606
  .elementor-element.elementor-element-d43c4d0
  .elementor-spacer-inner {
  height: 20px;
}
.elementor-606
  .elementor-element.elementor-element-1b5cbde
  > .elementor-widget-container {
  margin: 0% 18% 0% 18%;
}
.elementor-606
  .elementor-element.elementor-element-86fa8cb
  .elementor-spacer-inner {
  height: 31px;
}
.elementor-606 .elementor-element.elementor-element-476bb03 .wgl-services_wrap {
  text-align: left;
  padding: 0px 0px 40px 40px;
  background-color: #ff7029;
}
.elementor-606 .elementor-element.elementor-element-476bb03 .wgl-icon {
  color: rgba(255, 255, 255, 0.2);
  font-size: 173px;
}
.elementor-606 .elementor-element.elementor-element-476bb03:hover .wgl-icon {
  color: rgba(255, 255, 255, 0.2);
}
.elementor-606
  .elementor-element.elementor-element-476bb03
  .wgl-widget_container {
  margin: 0px -47px -103px 0px;
}
.elementor-606
  .elementor-element.elementor-element-476bb03
  .wgl-services_title {
  margin: 0px 40px 23px 0px;
  color: #ffffff;
}
.elementor-606 .elementor-element.elementor-element-476bb03 .wgl-services_text {
  color: #616161;
}
.elementor-606
  .elementor-element.elementor-element-476bb03:hover
  .wgl-services_text {
  color: #616161;
}
.elementor-606
  .elementor-element.elementor-element-476bb03
  .wgl-services_readmore {
  padding: 12px 19px 12px 19px;
  border-radius: 50% 50% 50% 50%;
  background-color: #ffffff;
  color: #232323;
}
.elementor-606
  .elementor-element.elementor-element-476bb03
  .wgl-services_readmore:hover {
  color: #232323;
}
.elementor-606
  .elementor-element.elementor-element-476bb03
  .wgl-services_readmore:hover
  i {
  transform: rotate(1turn);
  transition: 0.5s;
}
.elementor-606
  .elementor-element.elementor-element-22f92ab
  > .elementor-widget-container {
  margin: -10px 0px 0px 0px;
}
.elementor-606 .elementor-element.elementor-element-92c8c74 .wgl-services_wrap {
  text-align: left;
  padding: 0px 0px 40px 40px;
  background-color: #57b33e;
}
.elementor-606 .elementor-element.elementor-element-92c8c74 .wgl-icon {
  color: rgba(255, 255, 255, 0.2);
  font-size: 173px;
}
.elementor-606 .elementor-element.elementor-element-92c8c74:hover .wgl-icon {
  color: rgba(255, 255, 255, 0.2);
}
.elementor-606
  .elementor-element.elementor-element-92c8c74
  .wgl-widget_container {
  margin: 0px -47px -103px 0px;
}
.elementor-606
  .elementor-element.elementor-element-92c8c74
  .wgl-services_title {
  margin: 0px 40px 23px 0px;
  color: #ffffff;
}
.elementor-606 .elementor-element.elementor-element-92c8c74 .wgl-services_text {
  color: #616161;
}
.elementor-606
  .elementor-element.elementor-element-92c8c74:hover
  .wgl-services_text {
  color: #616161;
}
.elementor-606
  .elementor-element.elementor-element-92c8c74
  .wgl-services_readmore {
  padding: 12px 19px 12px 19px;
  border-radius: 50% 50% 50% 50%;
  background-color: #ffffff;
  color: #232323;
}
.elementor-606
  .elementor-element.elementor-element-92c8c74
  .wgl-services_readmore:hover {
  color: #232323;
}
.elementor-606
  .elementor-element.elementor-element-92c8c74
  .wgl-services_readmore:hover
  i {
  transform: rotate(1turn);
  transition: 0.5s;
}
.elementor-606
  .elementor-element.elementor-element-92c8c74
  > .elementor-widget-container {
  margin: -10px 0px 0px 0px;
}
.elementor-606 .elementor-element.elementor-element-9aa1c18 .wgl-services_wrap {
  text-align: left;
  padding: 0px 0px 40px 40px;
  background-color: #1f242c;
}
.elementor-606 .elementor-element.elementor-element-9aa1c18 .wgl-icon {
  color: rgba(255, 255, 255, 0.2);
  font-size: 173px;
}
.elementor-606 .elementor-element.elementor-element-9aa1c18:hover .wgl-icon {
  color: rgba(255, 255, 255, 0.2);
}
.elementor-606
  .elementor-element.elementor-element-9aa1c18
  .wgl-widget_container {
  margin: 0px -47px -103px 0px;
}
.elementor-606
  .elementor-element.elementor-element-9aa1c18
  .wgl-services_title {
  margin: 0px 40px 23px 0px;
  color: #ffffff;
}
.elementor-606 .elementor-element.elementor-element-9aa1c18 .wgl-services_text {
  color: #616161;
}
.elementor-606
  .elementor-element.elementor-element-9aa1c18:hover
  .wgl-services_text {
  color: #616161;
}
.elementor-606
  .elementor-element.elementor-element-9aa1c18
  .wgl-services_readmore {
  padding: 12px 19px 12px 19px;
  border-radius: 50% 50% 50% 50%;
  background-color: #ffffff;
  color: #232323;
}
.elementor-606
  .elementor-element.elementor-element-9aa1c18
  .wgl-services_readmore:hover {
  color: #232323;
}
.elementor-606
  .elementor-element.elementor-element-9aa1c18
  .wgl-services_readmore:hover
  i {
  transform: rotate(1turn);
  transition: 0.5s;
}
.elementor-606
  .elementor-element.elementor-element-798bf22
  > .elementor-widget-container {
  margin: -10px 0px 0px 0px;
}
.elementor-606 .elementor-element.elementor-element-0b76731 .wgl-services_wrap {
  text-align: left;
  padding: 0px 0px 40px 40px;
  background-color: #ff7029;
}
.elementor-606 .elementor-element.elementor-element-0b76731 .wgl-icon {
  color: rgba(255, 255, 255, 0.2);
  font-size: 173px;
}
.elementor-606 .elementor-element.elementor-element-0b76731:hover .wgl-icon {
  color: rgba(255, 255, 255, 0.2);
}
.elementor-606
  .elementor-element.elementor-element-0b76731
  .wgl-widget_container {
  margin: 0px -47px -103px 0px;
}
.elementor-606
  .elementor-element.elementor-element-0b76731
  .wgl-services_title {
  margin: 0px 40px 23px 0px;
  color: #ffffff;
}
.elementor-606 .elementor-element.elementor-element-0b76731 .wgl-services_text {
  color: #616161;
}
.elementor-606
  .elementor-element.elementor-element-0b76731:hover
  .wgl-services_text {
  color: #616161;
}
.elementor-606
  .elementor-element.elementor-element-0b76731
  .wgl-services_readmore {
  padding: 12px 19px 12px 19px;
  border-radius: 50% 50% 50% 50%;
  background-color: #ffffff;
  color: #232323;
}
.elementor-606
  .elementor-element.elementor-element-0b76731
  .wgl-services_readmore:hover {
  color: #232323;
}
.elementor-606
  .elementor-element.elementor-element-0b76731
  .wgl-services_readmore:hover
  i {
  transform: rotate(1turn);
  transition: 0.5s;
}
.elementor-606
  .elementor-element.elementor-element-0b76731
  > .elementor-widget-container {
  margin: -10px 0px 0px 0px;
}
.elementor-606
  .elementor-element.elementor-element-665cd75
  .elementor-spacer-inner {
  height: 120px;
}
.elementor-606
  .elementor-element.elementor-element-94b70d6:not(.elementor-motion-effects-element-type-background),
.elementor-606
  .elementor-element.elementor-element-94b70d6
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #f8f8f8;
}
.elementor-606 .elementor-element.elementor-element-94b70d6 {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}
.elementor-606
  .elementor-element.elementor-element-94b70d6
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-606
  .elementor-element.elementor-element-b2958e2
  .elementor-spacer-inner {
  height: 119px;
}
.elementor-606
  .elementor-element.elementor-element-fe8a42f:not(.elementor-motion-effects-element-type-background),
.elementor-606
  .elementor-element.elementor-element-fe8a42f
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #f8f8f8;
}
.elementor-606 .elementor-element.elementor-element-fe8a42f {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}
.elementor-606
  .elementor-element.elementor-element-fe8a42f
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-606
  .elementor-element.elementor-element-311e257
  > .elementor-widget-container {
  margin: 0px 0px -70px 0px;
}
.elementor-606 .elementor-element.elementor-element-e56e825 .title {
  margin: 0px 0px 0px 0px;
  padding: 14px 20px 15px 19px;
  color: #ffffff;
  background-color: rgba(31, 36, 44, 0.8156862745098039);
}
.elementor-606 .elementor-element.elementor-element-e56e825 .videobox_link {
  width: 50px;
  height: 50px;
  border-radius: 0% 0% 0% 0%;
  background-color: #1f242c;
}
.elementor-606 .elementor-element.elementor-element-e56e825 .videobox_icon {
  width: 30%;
  height: 30%;
  fill: #ffffff;
}
.elementor-606
  .elementor-element.elementor-element-e56e825
  > .elementor-widget-container {
  margin: 0px 0px 0px 45px;
}
.elementor-606
  .elementor-element.elementor-element-e9a8db5
  .elementor-spacer-inner {
  height: 0px;
}
.elementor-606
  .elementor-element.elementor-element-4ab592e
  > .elementor-element-populated {
  margin: 0% 0% 0% 12%;
}
.elementor-606
  .elementor-element.elementor-element-cb4fbc5
  .elementor-spacer-inner {
  height: 29px;
}
.elementor-606
  .elementor-element.elementor-element-bc37fb2
  .wgl-double_heading {
  flex-direction: column;
}
.elementor-606 .elementor-element.elementor-element-bc37fb2 .dbl-title_1 {
  color: #232323;
  display: inline;
}
.elementor-606 .elementor-element.elementor-element-bc37fb2 .dbl-bg_text {
  text-transform: uppercase;
  color: rgba(214, 214, 214, 0.5);
  -webkit-text-stroke-color: rgba(214, 214, 214, 0.5);
  display: inline;
}
.elementor-606 .elementor-element.elementor-element-bc37fb2 .dbl-subtitle {
  color: #57b33e;
  margin: 12px 0px 0px 0px;
}
.elementor-606
  .elementor-element.elementor-element-ff8dd49
  .elementor-spacer-inner {
  height: 6px;
}
.elementor-606 .elementor-element.elementor-element-6e64052 .wgl-icon {
  color: #838383;
  font-size: 60px;
}
.elementor-606
  .elementor-element.elementor-element-6e64052
  .wgl-counter_media-wrap {
  margin: 0px 22px 0px 0px;
}
.elementor-606
  .elementor-element.elementor-element-6e64052
  .wgl-counter_value-wrap {
  color: #ff7029;
}
.elementor-606 .elementor-element.elementor-element-6e64052 .wgl-counter_title {
  margin: 12px 0px 0px 0px;
  text-transform: uppercase;
  color: #232323;
}
.elementor-606 .elementor-element.elementor-element-a3304a5 .wgl-icon {
  color: #838383;
  font-size: 60px;
}
.elementor-606
  .elementor-element.elementor-element-a3304a5
  .wgl-counter_media-wrap {
  margin: 0px 22px 0px 0px;
}
.elementor-606
  .elementor-element.elementor-element-a3304a5
  .wgl-counter_value-wrap {
  color: #ff7029;
}
.elementor-606 .elementor-element.elementor-element-a3304a5 .wgl-counter_title {
  margin: 12px 0px 0px 0px;
  text-transform: uppercase;
  color: #232323;
}
.elementor-606
  .elementor-element.elementor-element-e270252:not(.elementor-motion-effects-element-type-background),
.elementor-606
  .elementor-element.elementor-element-e270252
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #f8f8f8;
}
.elementor-606 .elementor-element.elementor-element-e270252 {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}
.elementor-606
  .elementor-element.elementor-element-e270252
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-606
  .elementor-element.elementor-element-9e67035
  .elementor-spacer-inner {
  height: 100px;
}
.elementor-606 .elementor-element.elementor-element-70c9c86 .clients_image {
  height: 190px;
  justify-content: center;
  background-color: #1f242c;
}
.elementor-606 .elementor-element.elementor-element-70c9c86 .wgl-clients {
  align-items: center;
}
.elementor-606 .elementor-element.elementor-element-70c9c86 .slick-track {
  align-items: center;
  display: flex;
}
.elementor-606
  .elementor-element.elementor-element-70c9c86
  .clients_image:hover {
  background-color: #ff7029;
}
.elementor-606
  .elementor-element.elementor-element-410eed6:not(.elementor-motion-effects-element-type-background),
.elementor-606
  .elementor-element.elementor-element-410eed6
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #1f242c;
}
.elementor-606 .elementor-element.elementor-element-410eed6 {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}
.elementor-606
  .elementor-element.elementor-element-410eed6
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-606
  .elementor-element.elementor-element-19c1dc7
  .wgl-services_wrapper {
  text-align: left;
}
.elementor-606
  .elementor-element.elementor-element-19c1dc7
  .wgl-services_wrapper
  .wgl-services_subtitle {
  text-align: left;
}
.elementor-606
  .elementor-element.elementor-element-19c1dc7
  .wgl-services_title {
  margin: 0px 0px 4px 0px;
  font-size: 42px;
  line-height: 60px;
  color: #ffffff;
}
.elementor-606
  .elementor-element.elementor-element-19c1dc7
  .wgl-services-8:hover
  .wgl-services_title {
  color: #cccccc;
}
.elementor-606
  .elementor-element.elementor-element-19c1dc7
  .wgl-services_subtitle {
  margin: -57px 0px 29px 0px;
  color: #ffffff;
}
.elementor-606
  .elementor-element.elementor-element-19c1dc7:hover
  .wgl-services_subtitle {
  color: #ffffff;
}
.elementor-606
  .elementor-element.elementor-element-19c1dc7
  .wgl-services_bg_text {
  margin: 0px 0px 0px 75px;
  color: #d6d6d6;
  -webkit-text-stroke-color: #d6d6d6;
}
.elementor-606
  .elementor-element.elementor-element-19c1dc7:hover
  .wgl-services_bg_text {
  color: #d6d6d6;
  -webkit-text-stroke-color: #d6d6d6;
}
.elementor-606 .elementor-element.elementor-element-19c1dc7 .wgl-services_wrap {
  padding: 28% 10% 7% 17%;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0);
}
.elementor-606
  .elementor-element.elementor-element-19c1dc7
  .wgl-services_media {
  background-image: url("http://localhost/igrenergi/wp-content/uploads/2019/12/services_05.jpg");
  background-position: center right;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 1;
}
.elementor-606
  .elementor-element.elementor-element-19c1dc7
  .wgl-services-8:hover
  .wgl-services_media {
  opacity: 0.9;
}
.elementor-606
  .elementor-element.elementor-element-19c1dc7
  > .elementor-widget-container {
  padding: 0% 0% 0% 0%;
}
.elementor-606
  .elementor-element.elementor-element-08810c8
  .wgl-services_wrapper {
  text-align: left;
}
.elementor-606
  .elementor-element.elementor-element-08810c8
  .wgl-services_wrapper
  .wgl-services_subtitle {
  text-align: left;
}
.elementor-606
  .elementor-element.elementor-element-08810c8
  .wgl-services_title {
  margin: 0px 0px 4px 0px;
  font-size: 42px;
  line-height: 60px;
  color: #ffffff;
}
.elementor-606
  .elementor-element.elementor-element-08810c8
  .wgl-services-8:hover
  .wgl-services_title {
  color: #cccccc;
}
.elementor-606
  .elementor-element.elementor-element-08810c8
  .wgl-services_subtitle {
  margin: -57px 0px 29px 0px;
  color: #ffffff;
}
.elementor-606
  .elementor-element.elementor-element-08810c8:hover
  .wgl-services_subtitle {
  color: #ffffff;
}
.elementor-606
  .elementor-element.elementor-element-08810c8
  .wgl-services_bg_text {
  margin: 0px 0px 0px 75px;
  color: #d6d6d6;
  -webkit-text-stroke-color: #d6d6d6;
}
.elementor-606
  .elementor-element.elementor-element-08810c8:hover
  .wgl-services_bg_text {
  color: #d6d6d6;
  -webkit-text-stroke-color: #d6d6d6;
}
.elementor-606 .elementor-element.elementor-element-08810c8 .wgl-services_wrap {
  padding: 28% 10% 7% 17%;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0);
}
.elementor-606
  .elementor-element.elementor-element-08810c8
  .wgl-services_media {
  background-image: url("http://localhost/igrenergi/wp-content/uploads/2019/12/services_06.jpg");
  background-position: center right;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 1;
}
.elementor-606
  .elementor-element.elementor-element-08810c8
  .wgl-services-8:hover
  .wgl-services_media {
  opacity: 0.9;
}
.elementor-606
  .elementor-element.elementor-element-08810c8
  > .elementor-widget-container {
  padding: 0% 0% 0% 0%;
}
.elementor-606
  .elementor-element.elementor-element-77ad4e0
  .elementor-spacer-inner {
  height: 139px;
}
.elementor-606
  .elementor-element.elementor-element-3be313b
  .wgl-double_heading {
  flex-direction: column;
}
.elementor-606 .elementor-element.elementor-element-3be313b .dbl-title_1 {
  color: #232323;
  display: inline;
}
.elementor-606 .elementor-element.elementor-element-3be313b .dbl-bg_text {
  text-transform: uppercase;
  color: rgba(214, 214, 214, 0.5);
  -webkit-text-stroke-color: rgba(214, 214, 214, 0.5);
  display: inline;
}
.elementor-606 .elementor-element.elementor-element-3be313b .dbl-subtitle {
  color: #57b33e;
  margin: 12px 0px 0px 0px;
}
.elementor-606
  .elementor-element.elementor-element-bc17ab8
  .elementor-spacer-inner {
  height: 20px;
}
.elementor-606
  .elementor-element.elementor-element-f7de14a
  > .elementor-widget-container {
  margin: 0% 18% 0% 18%;
}
.elementor-606
  .elementor-element.elementor-element-1c426ca
  .elementor-spacer-inner {
  height: 31px;
}
.elementor-606
  .elementor-element.elementor-element-7d3583d:not(.elementor-motion-effects-element-type-background),
.elementor-606
  .elementor-element.elementor-element-7d3583d
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-image: url("http://localhost/igrenergi/wp-content/uploads/2019/12/home_section_02_bg.png");
  background-position: bottom right;
  background-repeat: no-repeat;
}
.elementor-606 .elementor-element.elementor-element-7d3583d {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  margin-top: 0px;
  margin-bottom: -174px;
}
.elementor-606
  .elementor-element.elementor-element-7d3583d
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-606 .elementor-element.elementor-element-86c2348 .pricing_title {
  color: #ff7029;
}
.elementor-606
  .elementor-element.elementor-element-86c2348
  .pricing_title__shadow {
  text-transform: uppercase;
  color: #d6d6d6;
  -webkit-text-stroke-color: #d6d6d6;
}
.elementor-606
  .elementor-element.elementor-element-86c2348
  .pricing_price_wrap {
  color: #232323;
  padding: 13px 0px 34px 0px;
}
.elementor-606 .elementor-element.elementor-element-86c2348 .pricing_content {
  color: #232323;
}
.elementor-606 .elementor-element.elementor-element-86c2348 .wgl-button {
  font-weight: 700;
  color: #232323;
  background-color: #ffffff;
  border-radius: 0px 0px 0px 0px;
  padding: 19px 28px 19px 28px;
}
.elementor-606 .elementor-element.elementor-element-86c2348 .wgl-button:hover,
.elementor-606 .elementor-element.elementor-element-86c2348 .wgl-button:focus {
  color: #ffffff;
}
.elementor-606
  .elementor-element.elementor-element-86c2348
  a.elementor-button:hover,
.elementor-606
  .elementor-element.elementor-element-86c2348
  .elementor-button:hover,
.elementor-606
  .elementor-element.elementor-element-86c2348
  a.elementor-button:focus,
.elementor-606
  .elementor-element.elementor-element-86c2348
  .elementor-button:focus {
  background-color: #ff7029;
  border-color: #ff7029;
}
.elementor-606
  .elementor-element.elementor-element-86c2348
  .elementor-button:hover {
  box-shadow: 8px 9px 18px 0px rgba(255, 112, 41, 0.3);
}
.elementor-606 .elementor-element.elementor-element-86c2348 .elementor-button {
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: #ff7029;
}
.elementor-606
  .elementor-element.elementor-element-86c2348
  .pricing_plan_wrap
  .pricing_header {
  background-color: #f8f8f8;
}
.elementor-606 .elementor-element.elementor-element-86c2348 .pricing_header {
  padding-top: 52px;
}
.elementor-606 .elementor-element.elementor-element-86c2348 .pricing_header,
.elementor-606 .elementor-element.elementor-element-86c2348 .pricing_content,
.elementor-606 .elementor-element.elementor-element-86c2348 .pricing_footer {
  padding-left: 40px;
  padding-right: 40px;
}
.elementor-606 .elementor-element.elementor-element-86c2348 .pricing_footer {
  padding-bottom: 50px;
}
.elementor-606
  .elementor-element.elementor-element-a47e914
  .pricing_highlighter {
  color: #ffffff;
  background: #ff7029;
  margin: 0px 30px 0px 0px;
  padding: 15px 13px 15px 13px;
  border-radius: 50% 50% 50% 50%;
}
.elementor-606 .elementor-element.elementor-element-a47e914 .pricing_title {
  color: #ff7029;
}
.elementor-606
  .elementor-element.elementor-element-a47e914
  .pricing_title__shadow {
  text-transform: uppercase;
  color: rgba(214, 214, 214, 0.3);
  -webkit-text-stroke-color: rgba(214, 214, 214, 0.3);
}
.elementor-606
  .elementor-element.elementor-element-a47e914
  .pricing_price_wrap {
  color: #ffffff;
  padding: 13px 0px 34px 0px;
}
.elementor-606 .elementor-element.elementor-element-a47e914 .pricing_content {
  color: #232323;
}
.elementor-606 .elementor-element.elementor-element-a47e914 .wgl-button {
  font-weight: 700;
  color: #ffffff;
  background-color: #ff7029;
  border-radius: 0px 0px 0px 0px;
  padding: 19px 28px 19px 28px;
}
.elementor-606 .elementor-element.elementor-element-a47e914 .elementor-button {
  box-shadow: 8px 9px 18px 0px rgba(255, 112, 41, 0.3);
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: #ff7029;
}
.elementor-606 .elementor-element.elementor-element-a47e914 .wgl-button:hover,
.elementor-606 .elementor-element.elementor-element-a47e914 .wgl-button:focus {
  color: #232323;
}
.elementor-606
  .elementor-element.elementor-element-a47e914
  a.elementor-button:hover,
.elementor-606
  .elementor-element.elementor-element-a47e914
  .elementor-button:hover,
.elementor-606
  .elementor-element.elementor-element-a47e914
  a.elementor-button:focus,
.elementor-606
  .elementor-element.elementor-element-a47e914
  .elementor-button:focus {
  background-color: #ffffff;
  border-color: #ff7029;
}
.elementor-606
  .elementor-element.elementor-element-a47e914
  .elementor-button:hover {
  box-shadow: 0px 0px 10px 0px rgba(255, 112, 41, 0);
}
.elementor-606
  .elementor-element.elementor-element-a47e914
  .pricing_plan_wrap
  .pricing_header {
  background-color: #1f242c;
}
.elementor-606 .elementor-element.elementor-element-a47e914 .pricing_header {
  padding-top: 52px;
}
.elementor-606 .elementor-element.elementor-element-a47e914 .pricing_header,
.elementor-606 .elementor-element.elementor-element-a47e914 .pricing_content,
.elementor-606 .elementor-element.elementor-element-a47e914 .pricing_footer {
  padding-left: 40px;
  padding-right: 40px;
}
.elementor-606 .elementor-element.elementor-element-a47e914 .pricing_footer {
  padding-bottom: 50px;
}
.elementor-606 .elementor-element.elementor-element-ac73326 .pricing_title {
  color: #ff7029;
}
.elementor-606
  .elementor-element.elementor-element-ac73326
  .pricing_title__shadow {
  text-transform: uppercase;
  color: #d6d6d6;
  -webkit-text-stroke-color: #d6d6d6;
}
.elementor-606
  .elementor-element.elementor-element-ac73326
  .pricing_price_wrap {
  color: #232323;
  padding: 13px 0px 34px 0px;
}
.elementor-606 .elementor-element.elementor-element-ac73326 .pricing_content {
  color: #232323;
}
.elementor-606 .elementor-element.elementor-element-ac73326 .wgl-button {
  font-weight: 700;
  color: #232323;
  background-color: #ffffff;
  border-radius: 0px 0px 0px 0px;
  padding: 19px 28px 19px 28px;
}
.elementor-606 .elementor-element.elementor-element-ac73326 .wgl-button:hover,
.elementor-606 .elementor-element.elementor-element-ac73326 .wgl-button:focus {
  color: #ffffff;
}
.elementor-606
  .elementor-element.elementor-element-ac73326
  a.elementor-button:hover,
.elementor-606
  .elementor-element.elementor-element-ac73326
  .elementor-button:hover,
.elementor-606
  .elementor-element.elementor-element-ac73326
  a.elementor-button:focus,
.elementor-606
  .elementor-element.elementor-element-ac73326
  .elementor-button:focus {
  background-color: #ff7029;
}
.elementor-606
  .elementor-element.elementor-element-ac73326
  .elementor-button:hover {
  box-shadow: 8px 9px 18px 0px rgba(255, 112, 41, 0.3);
}
.elementor-606 .elementor-element.elementor-element-ac73326 .elementor-button {
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: #ff7029;
}
.elementor-606
  .elementor-element.elementor-element-ac73326
  .pricing_plan_wrap
  .pricing_header {
  background-color: #f8f8f8;
}
.elementor-606 .elementor-element.elementor-element-ac73326 .pricing_header {
  padding-top: 52px;
}
.elementor-606 .elementor-element.elementor-element-ac73326 .pricing_header,
.elementor-606 .elementor-element.elementor-element-ac73326 .pricing_content,
.elementor-606 .elementor-element.elementor-element-ac73326 .pricing_footer {
  padding-left: 40px;
  padding-right: 40px;
}
.elementor-606 .elementor-element.elementor-element-ac73326 .pricing_footer {
  padding-bottom: 50px;
}
.elementor-606
  .elementor-element.elementor-element-88883e1
  .elementor-spacer-inner {
  height: 225px;
}
@media (max-width: 1024px) and (min-width: 768px) {
  .elementor-606 .elementor-element.elementor-element-2d78ef7 {
    width: 50%;
  }
  .elementor-606 .elementor-element.elementor-element-e4f3ebb {
    width: 50%;
  }
  .elementor-606 .elementor-element.elementor-element-1fcda1a {
    width: 50%;
  }
  .elementor-606 .elementor-element.elementor-element-4e246d6 {
    width: 50%;
  }
  .elementor-606 .elementor-element.elementor-element-c060c71 {
    width: 100%;
  }
  .elementor-606 .elementor-element.elementor-element-4ab592e {
    width: 100%;
  }
  .elementor-606 .elementor-element.elementor-element-8dc77fa {
    width: 100%;
  }
  .elementor-606 .elementor-element.elementor-element-ad2512c {
    width: 100%;
  }
  .elementor-606 .elementor-element.elementor-element-d0b8c05 {
    width: 50%;
  }
  .elementor-606 .elementor-element.elementor-element-01d711b {
    width: 50%;
  }
  .elementor-606 .elementor-element.elementor-element-09e6378 {
    width: 100%;
  }
}
@media (max-width: 1024px) {
  .elementor-606
    .elementor-element.elementor-element-1b5cbde
    > .elementor-widget-container {
    margin: 0px 0px 0px 0px;
  }
  .elementor-606
    .elementor-element.elementor-element-e9a8db5
    .elementor-spacer-inner {
    height: 50px;
  }
  .elementor-606
    .elementor-element.elementor-element-f7de14a
    > .elementor-widget-container {
    margin: 0px 0px 0px 0px;
  }
  .elementor-606
    .elementor-element.elementor-element-09e6378
    > .elementor-element-populated {
    margin: 0% 25% 0% 25%;
  }
}
@media (max-width: 767px) {
  .elementor-606
    .elementor-element.elementor-element-ac02a28
    .elementor-spacer-inner {
    height: 0px;
  }
  .elementor-606 .elementor-element.elementor-element-566d398 .dbl-title_1 {
    font-size: 30px;
    line-height: 42px;
  }
  .elementor-606 .elementor-element.elementor-element-566d398 .dbl-bg_text {
    font-size: 80px;
  }
  .elementor-606
    .elementor-element.elementor-element-e9a8db5
    .elementor-spacer-inner {
    height: 0px;
  }
  .elementor-606
    .elementor-element.elementor-element-4ab592e
    > .elementor-element-populated {
    margin: 0px 0px 0px 0px;
  }
  .elementor-606 .elementor-element.elementor-element-bc37fb2 .dbl-title_1 {
    font-size: 30px;
    line-height: 42px;
  }
  .elementor-606 .elementor-element.elementor-element-bc37fb2 .dbl-bg_text {
    font-size: 80px;
  }
  .elementor-606
    .elementor-element.elementor-element-19c1dc7
    .wgl-services_title {
    font-size: 30px;
    line-height: 42px;
  }
  .elementor-606
    .elementor-element.elementor-element-08810c8
    .wgl-services_title {
    font-size: 30px;
    line-height: 42px;
  }
  .elementor-606
    .elementor-element.elementor-element-77ad4e0
    .elementor-spacer-inner {
    height: 90px;
  }
  .elementor-606 .elementor-element.elementor-element-3be313b .dbl-title_1 {
    font-size: 30px;
    line-height: 42px;
  }
  .elementor-606 .elementor-element.elementor-element-3be313b .dbl-bg_text {
    font-size: 80px;
  }
  .elementor-606
    .elementor-element.elementor-element-09e6378
    > .elementor-element-populated {
    margin: 0px 0px 0px 0px;
  }
}
